################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/env
/readme.html
/voting-app.pyproj
/voting-app.pyproj.user
/voting-app.sln
/app/__pycache__/urls.cpython-312.pyc
/voting_app/__pycache__/settings.cpython-312.pyc
*.pyc
